<html>
  <head>
    <title>Seeking Sebastien</title>
  </head>
  <body>
    <div>
      <h1>Seeking Sebastien: A blog about self discovery.</h1>
      <p>Welcome to this glorious age!<p>
    </div>

    <br>

    <div>
        <p>published: 24.06.2020, 11:01</p>
        <h2>A New Beginning For Old Pain</h2>
        <p>So much to say and so little time... where shall we begin</p>
    </div>

    <br>

     <div>
         <p>published: 24.06.2020, 11:04</p>
         <h2>Mountains and Meaning</h2>
         <p>A hostile and bone chilling world, why does it draw me like a branch down the stream holding me tight in its enveloping current?</p>
    </div>

    					
  </body>
</html>  
